#toggle{
    background-color: var(--nav-color);
    color: var(--background-color);
}

/*card view*/
.cards{
    display: grid;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.cards div{
    border: 2px solid black;
    margin: 2rem;
    width: 350px;
}

.cards img{
    border: 1px dashed grey;
    margin: 1rem;
}

.cards div:nth-child(1){
    display: none;
}

/*list view*/

.list{
    display: block;
}

.list img{
    display: none;
}
.list div{
    display: flex;
    justify-content: space-around;
}

.list div:nth-child(odd){
    background-color: grey;
}

.list div:nth-child(1){
    display: flex;
}