:root{
    --accent-color: #E0FF4F;
    --header-color: #FF6663;
    --background-color: #BFD7EA;
    --nav-color: #0B3954;
    --card-color: #CC7E85;
    --border-color: #8B1E3F;
    --inv-text-color: #ffffff;
}

body{
    background-color: var(--background-color);
}

header{
    display: grid;
    grid-template-columns: 1fr 6fr;
    justify-content: center;
    text-align: center;
    background-color: var(--header-color);
    border-radius: 15px 15px 0px 0px;
}

header img{
    height: 125px;
    margin: 1rem;
}

#menu-burger::before{
    content: "≡";
    background-color: var(--accent-color);
}

#menu-burger.open::before{
    content: "X";
}

button{
    background-color: var(--accent-color);
}

#navigation{
    background-color: var(--nav-color);
    color: var(--inv-text-color);
    display: none;
}

#navigation.open{
    display: flex;
    flex-direction: column;
    border-radius: 0px 0px 15px 15px;
}

.hero{
    position: relative;
}

.hero button{
    position: absolute;
    top: 2rem;
    left: 2rem;
    color: black;
    padding: 0.5rem;
    border: 1px black solid;
    border-radius: 4px;
    }

.hero img{
    height: 400px;
}

.featured{
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 0.5rem;
    text-align: center;
    background-color: var(--card-color);
    border: solid var(--border-color) 1px;
}

.featured div{
    background-color: var(--background-color);
    border-radius: 15px;
    padding: 0.5rem;
    margin: 0.5rem;
    border: var(--border-color) solid 1px;
}

.weather{
    margin-bottom: 1rem;
    text-align: center;
    background-color: var(--card-color);
    border: solid var(--border-color) 1px;
}

.media img{
    height:50px;
}

.footer-find{
    background-color: var(--nav-color);
    color: var(--inv-text-color);
    text-align: center;
}

.footer-info{
    background-color: var(--header-color);
    text-align: center;
    text-decoration: none;
}