@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Montserrat:wght@300&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --background-color:#ECE4B7;
    --accent-color:#D36135;
    --header-color:#E6AA68;
}

body{
    font-family: "Open Sans", sans-serif;
    background-color: var(--background-color);

}

#content{
    max-width:800px;
    margin: 0 auto;
}

header{
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--header-color);
}

header img{
    height: 150px;
    margin: 20px;
}

header h1{
    text-align: center;
    margin-top: 40px;
}

button{
    color:var(--accent-color);
}

#menu{
    background: none;
}

#menu-button::before{
    content: "≡";
}

#menu-button.open::before{
    content: "X";
}

main{
    display: grid;
}

.temple{
    text-align: center;
    position: relative;
}

.temple img{
    border: 2px black solid;
    width: 750px;
}

.temple p{
    position: absolute;
    top: 2rem;
    left: 2rem;
    background-color: var(--background-color);
    color: black;
    padding: 0.5rem;
    border: 1px black solid;
    border-radius: 4px;
}

h2{
    text-align: center;

}

ul{
    list-style: none;
}

#content nav ul{
    background-color: var(--accent-color);
}

nav ul{
    padding-inline-start: 0px;
}

nav ul li{
    text-align: center;
    margin: 20px;
}

nav ul li a{
    color: black;
    text-decoration: none;
    padding: 10px;
}

nav ul li:hover{
    color:#717EC3;
}

main h2{
    text-align: center;
}

main ul li a{
    color: black;
    text-decoration: none;
    padding: 10px;
}

footer{
    text-align: center;
    background-color: var(--header-color);
}

.card h3{
    display: block;
    grid-template-columns: 2fr 1fr;
    text-align: center;
    border: double var(--accent-color) 2px;
    margin: 5px;
    padding: 10px;
    background-color: var(--header-color);
}

#learning-activities li a:link{
    color:#000000;
}
#learning-activities li a:vistited{
    color:#ffffff;
}
#learning-activities li a:hover{
    color:#717EC3;
}